body{
  background-color: white;
  width: 960px;
  height: 1500px;
  margin: 0 auto;
}

#logo img{
  float: left;
}

#delicious-title{
  font-family: 'Pacifico', cursive;
}

#social{
  max-width: 280px;
  margin-left: 671px;
  margin-bottom: 30px;
  margin-top: -20px;
}

#pint{
  margin-right: 10px;
}

#logo h5{
  font-size: 11px;
  color: rgba(128, 128, 128, 0.808);
  margin-left: 50px;
  width: 400px;
}


main section h2{
  font-family: 'Do Hyeon', sans-serif;
  font-size: 30px;
  margin-top: 40px;
}

#chocolatetitle{
  max-width: 400px;
}

main section h5{
  font-size: 10px;
}

#print img{
  float: left;
}

#print p{
  font-size: 10px;
  
}

#print{
  margin-left: 860px;
  
}

#chocolatetitle h5{
  float: left;
  color: rgba(128, 128, 128, 0.808);
}

#chocopizza{
  margin-top: 25px;
}

main section p:not(#printp){
  text-align: left;
  font-size: 20px;
  width: 905px;
  text-indent: 25px;
  margin: 15px 0px;
  color: gray;
  font-weight: lighter;
}

#list{
  background-image: url("../assets/list-bg.png");
  width: 902px;
  height: 305px;
  font-size: 25px;
  position: relative;
  z-index: -1;
}

#listone{
  float:left;
  margin-right: 90px;
  margin-top: 40px;
  margin-left: 70px;
  font-family: 'Public Sans', sans-serif;
  font-size: 20px;  
}

#listtwo{
  padding-top: 40px;
  font-family: 'Public Sans', sans-serif;
  font-size: 20px;
}

img.empty-checkbox{
  height: 20px;
  width: 20px;
  float: left;
  padding-right: 10px;
}

li{
  padding: 5px;

}

.cross-off{
  text-decoration: line-through;
}

.stretch{
  background-image: url(../assets/hr-img.png);
  border-right-width: 0px;
  border-right-style: solid;
  max-width: 903px;
}

#printp{
  font-size: 10px;
  color: rgba(128, 128, 128, 0.808);
}
#logo{
  margin-top: 40px;
  font-size: 40px;
}

header section h3 {
  margin-left: 49px;
  width: 400px;
}

#footstretch{
  margin-top: 30px;
  margin-bottom: 21px;
}

#vanessa img{
  float: left;
}

#vanessa{
  float: left;
  width: 700px;
}

#author{
  font-weight: bolder;
  margin-left: 90px;
  width: 300px;
  height: 20px;
  font-size: 20px;
  padding: 5px;
}

#tagline{
  margin-left: 90px;
  width: 500px;
  height: 20px;
  padding: 10px;
}

footer section button{
  background-color: brown;
  color: white;
  border: none;
  padding: 12px 20px;
  margin-top: 20px;

}

#end-of-page-hr{
  background-image: url(../assets/hr-img.png);
  border-right-width: 0px;
  border-right-style: solid;
  max-width: 903px; 
  height: 1px; 
  margin-top: 150px;
}

#footer-logo{
  margin: auto;
  position: relative;
  z-index: 1;
  margin-top: -20px;
  margin-left: 450px;
}

#copyright{
  width: 280px;
  height: 20px;
  margin: auto;
  margin-top: 30px;
}

#blog-publisher{
  width: 200px;
  height: 50px;
  margin: auto;
}
